[submodule "submodules/RSParser"]
	path = submodules/RSParser
	url = https://github.com/brentsimmons/RSParser.git
[submodule "submodules/RSCore"]
	path = submodules/RSCore
	url = https://github.com/brentsimmons/RSCore.git
[submodule "submodules/RSWeb"]
	path = submodules/RSWeb
	url = https://github.com/brentsimmons/RSWeb.git
