<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>title</key>
		<string>Engineering Blogs</string>
		<key>url</key>
		<string>https://raw.githubusercontent.com/kilimchoi/engineering-blogs/master/engineering_blogs.opml</string>
	</dict>
	<dict>
		<key>title</key>
		<string>feedBase - Hotlist</string>
		<key>url</key>
		<string>http://opml.feedbase.io/hotlist.opml</string>
	</dict>
	<dict>
		<key>title</key>
		<string>iOS Developers</string>
		<key>url</key>
		<string>https://iosdevdirectory.com/opml/en/development.opml</string>
	</dict>
	<dict>
		<key>title</key>
		<string>iOS Design</string>
		<key>url</key>
		<string>https://iosdevdirectory.com/opml/en/design.opml</string>
	</dict>
	<dict>
		<key>title</key>
		<string>iOS Marketing</string>
		<key>url</key>
		<string>https://iosdevdirectory.com/opml/en/marketing.opml</string>
	</dict>
	<dict>
		<key>title</key>
		<string>iOS Development Companies</string>
		<key>url</key>
		<string>https://iosdevdirectory.com/opml/en/companies.opml</string>
	</dict>
	<dict>
		<key>title</key>
		<string>iOS Development Newsletters</string>
		<key>url</key>
		<string>https://iosdevdirectory.com/opml/en/newsletters.opml</string>
	</dict>
	<dict>
		<key>title</key>
		<string>Chris Aldrich - Following</string>
		<key>url</key>
		<string>https://www.boffosocko.com/wp-links-opml.php</string>
	</dict>
</array>
</plist>
